@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-app="orderSys" style="margin-top:30px;">
    <div class="col-md-12" ng-controller="UIRouterCtrl">
        <ng-view></ng-view>
    </div>
</div>
