@{
    ViewBag.Title = "首页";
}

<div class="jumbotron" style="background-image: url('../../Content/Image/topbg.jpg'); background-repeat:no-repeat;margin-top:50px;margin-left:-20px;margin-right:-20px;min-height:400px;">
    <h2 style="font-family:'Microsoft YaHei';margin-top:160px;margin-left:200px;">订单管理信息系统</h2>
    <p style="margin-top:50px;margin-left:200px;">@Html.ActionLink("登录", "login", "Account",routeValues: null,htmlAttributes: new { @class = "btn btn-primary" })</p>
</div>
